{% extends 'layout.html' %}

{% block contents %}
    <hr>
<div class="container">
<table class="table table-hover">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    </thead>

    <tbody>
     {% for i in board_list %}
    <tr>

        <td>{{ i[0] }}</td>
        <td><a href="/detail?data={{i[0]}}">{{ i[1] }}</a></td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<a href="/add_board" class="btn btn-default pull-right">글쓰기</a>
<div class="text-center">
    <ul class="pagination">
        {% for i  in range(1, pagenum) %}
            {% if i == curpage %}
                <li class="page-item active"><a href="/board/{{i}}" class="btn btn-primary btn-lg active"><em>{{i}}</em></a></li>
            {% else %}
                <li class="page-item"><a href="/board/{{i}}" class="btn btn-primary btn-lg active"><em>{{i}}</em></a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
