{% extends 'layout.html' %}
<!--   conv_list는 convenient리스트 -->

{% block head %}
<script src="../static/js/caroufredsel-carousel.js"></script><!-- CarouFredSel carousel plugin -->
{% endblock%}


{% block contents %}
<style>
 #myCarousel { width:600px padding-left:0px }
 #myCarousel-inner { padding-left:320px }
 #control { padding-left:300px }
</style>

    <div class="freshdesignweb">
        <article class="grid_3 carousel-article">
            <div style="display: block; text-align: start; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 350px; height: 300px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
                <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1500px; height: 300px; list-style:none;" id="foo3" class="carousel-li">
                    <li><img src="../static/images/cu.png" alt="cu" width="350"></li>
                    <li><img src="../static/images/gs.png" alt="gs" width="350"></li>
                    <li><img src="../static/images/emart.png" alt="emart" width="350"></li>
                    <li><img src="../static/images/seven.png" alt="seven" width="350"></li>
                    <li><img src="../static/images/ministop.png" alt="ministop" width="350"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div style="display: block;" id="foo3_pag" class="carousel-pagination">
                <a class="selected" href="#"><span>1</span></a><a class="" href="#"><span>2</span></a><a class="" href="#"><span>3</span></a><a class="" href="#"><span>4</span></a><a class="" href="#"><span>5</span></a>
            </div>

        </article><!-- slider text article end -->
        <script>$("#foo3").carouFredSel({items:1,auto:true,scroll:1,pagination:"#foo3_pag"});</script>
    </div>
{% endblock %}

