<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>oneplusone_list</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap&subset=korean" rel="stylesheet">

    <style>
    .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
    }
    .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
    }

    p {
        font-family: 'Noto Serif KR', serif;
        font-size: 15px;
      }


    #search { padding-left : 880px }
    #logo { padding-left:50px; padding-top:80px }




    </style>
    <script>
        function modal_view(data,img,title,price){
            var imgSrc = img;
            $("#myModal").on("show.bs.modal",function(event) {
                $(".modal-body #prodImg").attr("src", imgSrc)
                $(".modal-body #title").text(title);
                $(".modal-body #price").text(price);
            })
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="container">
            <div id="logo">
                <a href="/">
                    <img src="../static/image/kong/gs1.png" alt="gs" width="150">
                </a>
            </div>
            <div id="search">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <form class="form-inline" action="/search_gs_list" novalidate autocomplete="off" method='GET'>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchProduct">
                        <input class="btn btn-info" id="bts" type="submit" value="검색">
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">편의점별
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/cu_oneplusone/1"><p>CU</p></a></li>
                <li><a href="/gs25_oneplusone/1"><p>GS25</p></a></li>
                <li><a href="/emart24_oneplusone/1"><p>Emart24</p></a></li>
                <li><a href="/seven_oneplusone/1"><p>7eleven</p></a></li>
                <li><a href="/ministop_oneplusone/1"><p>Ministop</p></a></li>
            </ul>
        </li>
        <li><a href="/location_service"><p>위치서비스</p></a></li>
        <li><a href="/board"><p>게시판</p></a></li>
        </ul>
        <hr>
        <ul class="nav nav-pills nav-justified">
            <li>
              <a href="/gs25_oneplusone/1">1+1</a>
          </li>
            <li>
              <a href="/gs25_twoplusone/1">2+1</a>
          </li>
            <li>
              <a href="/gs25_threeplusone/1">3+1</a>
          </li>
            <li>
              <a href="/gs25_dum/1">증정상품</a>
          </li>

            <li>
              <a href="/gs25_discount/1">할인상품</a>
          </li>
        </ul>
        <div><p>{{message}}</p></div>


    {% if oneplusone_list[0][6] == None %}
        {% for item in oneplusone_list %}
        <div class="col-xs-6 col-sm-3">
            <br>
            <br>
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="{{item[3]}}"  width="150px" height="150px"
                     onclick="modal_view('{{data}}','{{item[3]}}','{{ item[1] }}','{{ item[2] }}');">
            </a>
            <div><text align="center"><button type="button" class="btn">{{ item[4] }}</button></text></div>
            <div><p>{{ item[1] }}</p></div>
            <div><p>{{ item[2] }}</p></div>
        </div>
        {% endfor %}
    {% else %}
     {% for item in oneplusone_list %}
        <div class="col-xs-6 col-sm-3 col-lg-4">
            <div style= "width:150px; height:300px;  float:left; margin-right:30px;">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <img src="{{item[3]}}"  width="100px" height="100px"
                         onclick="modal_view('{{data}}','{{item[3]}}','{{ item[1] }}','{{ item[2] }}');">
                </a>
                <text align="center"><button type="button" class="btn">{{ item[4] }}</button></text>
                <p>{{ item[1] }}</p>
                <p>{{ item[2] }}</p>
            </div>

            <div style = "width:150px; height:300px; float:left;">

                <p><img src="{{item[6]}}" width="80px" height="80px"></p>
                <p>{{ item[5] }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

          <div><p align="center"><img id="prodImg"></p></div>
          <div><h2><p align="center"><label id="title"/></p></h2></div>
          <div><h4><p align="center" class="text-primary"><label id="price"/></p></h4></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="text-center">
    <ul class="pagination">
        <li><a href="/{{data}}/{{curpage-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
     {% if curpage % 5 ==0 %}
     {%     set nstart= (curpage//5-1)*5+1 %}
     {%     set nend=(curpage//5-1)*5+6 %}
     {% else %}
     {%     set nstart = (curpage//5)*5+1 %}
     {%     set nend =  (curpage//5)*5+6 %}
     {% endif %}


    {% for i in range(nstart,nend) %}

                {% if i == curpage %}
        <li class="page-item active"><a href="/{{data}}/{{i}}"><em>{{i}}</em></a></li>
                {% else %}
        <li class="page-item"><a href="/{{data}}/{{i}}"><em>{{i}}</em></a></li>
                {% endif %}

        {% endfor %}
        <li><a href="/{{data}}/{{curpage+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</div>



</body>
</html>