{% extends 'layout.html' %}


{% block contents %}
    <hr>

<h1>글쓰기</h1>
<!--<label for="id">번호</label><input type="number" disabled>-->
<div class="container">
    <form action="/add_board_pro" method="post">
        <tr>
            <th>제목: </th><td><label for="title"></label><input type="text" placeholder="제목을 입력하세요. " name="title" required></td>
        </tr>
    <br>
    <label for="name">글쓴이</label><input type="text" placeholder="이름을 입력하세요. " name="name" required>
    <br><br>
    <label for="content">내용</label>
    <br>
    <textarea name="content" placeholder="내용을 입력하세요. " cols="50" rows="10" required></textarea>
    <br>

    <input type="submit", value="등록">
    <input type="reset", value="reset"/>
    <input type="button", value="목록" onclick="location.href='/board/'">
    </form>
</div>


{% endblock %}
