{% extends 'layout.html' %}

{% block contents %}
<style>
    #board {width:800px; height:600px; border:1px solid black;
                padding:50px; margin:20px auto;
               }

</style>
<div class="container">

<div class="row">
    <div class="col-md-12">

        <div class="page-header">
            <h2>게시판</h2>
        </div>
        <div class="container" id="board">
             <tr>
                <th>제목</th>
                <td>

                </td>
             </tr>

            <li></li>
            <li></li>
            <p></p>




        </div>


        <p>

        </p>


    </div>
</div>
<input type="button", value="목록" onclick="location.href='/board/'">
</div>

{% endblock %}